section {
    width: 100%;
}

.inner-section {
    /* padding: 0rem 2.5rem; */
    width: 70%;
    margin-left: 15%;
    margin-bottom: 3rem;
}

h2 {
    padding: 0rem;
    color: var(--spat);
    margin-bottom: 1rem;
}

.bold-text {
    font-weight: 600;
}

ul {
    list-style: none;
    font-size: .8rem;
    color: var(--darkblue);
}

.horizontal-flex-row {
    width: 100%;
    display: flex;
    gap: 10%;
}

.text-container {
    width: 50%;
    margin-top: 8rem;
}

.image-water {
    height: 20rem;
    object-fit: cover;
    border-radius: .5rem;
}

/* Mobiele weergaven */
@media only screen and (max-width: 1100px) {
    .horizontal-flex-row {
        flex-direction: column;
    }

    .text-container {
        width: 100%;
        margin-top: 1rem;
    }

    .image-container {
        width: 100%;
        margin-top: 0rem;
    }

    .image-water {
        height: 10rem;
        width: 100%;
        object-fit: cover;
    }

    .inner-section {
        /* padding: 0rem 2.5rem; */
        width: 70%;
        margin-bottom: 2rem;
    }
}