---
import '../styles/global.css';
import '../js/parallax.js';

import { Navbar } from "../components/Navbar.jsx";
import { Home } from "../components/Home.jsx";
import { Over } from "../components/Over.jsx";
import { Expertise } from "../components/Expertise.jsx";
import { Klimaatadaptatie } from "../components/Klimaatadaptatie.jsx";
import { Waterkwaliteit } from "../components/Waterkwaliteit.jsx";
import { Brain } from "../components/Brain.jsx";
import { Projecten } from "../components/Projecten.jsx";
import { Kennisbank } from "../components/Kennisbank.jsx";
import { Team } from "../components/Team.jsx";
import { Contact } from "../components/Contact.jsx";
import { Partners } from "../components/Partners.jsx";
import { Footer } from "../components/Footer.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!--=============== REMIXICONS ===============-->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

	<!--=============== GOOGLE ICONS ===============-->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


		<title>Astro</title>
	</head>
	<body>

<Navbar />
<Home />
<Over />
<Expertise />
<Klimaatadaptatie />
<Waterkwaliteit />
<Brain />
<Projecten />
<Kennisbank />
<Team />
<Contact />
<Partners />
<Footer />

	</body>
</html>